* {font-family: 'Noto Sans JP', sans-serif;} 

header {
    text-align: center;
}

header > h1 {
    background-color: rgb(0, 24, 241);
    padding: 10px 10px;
    color: white;
}

nav {
    text-align: center;
}

div + h2 {
    text-align: center;
}

main {
    text-align: center;
}

/* section {
    padding: 10px;
} */

footer {
    text-align: center;
    background-color: rgb(0, 24, 241);
    padding: 5px 5px;
    margin-top: 10px;
    
    color: white;
}

a {
    padding: 5px 5px;
}

a:link { color: blue; }
a:visited {color: green;}
a:hover {color: hotpink;
         font-size: 18px;
         font-weight: bold;}
#menu:hover::before {content: ">";}
#menu:hover::after {content: "<";}    
a:active {color: red;
          font-size: 16px;
          font-weight: bold;}  
          
.table_center {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

.tabela_figuras {
    margin-left: auto;
    margin-right: auto;
}

.figuras {
    margin-left: auto;
    margin-right: auto;
    background-color: #59d2fe;
}

td, th {
    border: 1px solid #ffb7c5;
    padding: 8px;
}

tr:nth-child(even){background-color: lightblue;}

tr:hover {
    background-color: blue;
    color: white;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: blue;
    color: white;
}

ul {
   display: inline-block;
   text-align: left; 
}

#textoPoema {
    font-style: italic;
}

img {
    border:4px solid #ffb7c5;
    color: black;
}

.flag {
    border: 1px solid;
}

iframe {
    border:4px solid #ffb7c5; 
}

input {
    display: inline-block;
}

#quizzSection {
    background-color: blue;
    color: white;
}

fieldset > p {
    margin-top: 30px;
    margin-bottom: 10px;
}

textarea {
    margin-top: 30px; 
}

#info {
    text-align: left;
}

#info input {
    margin-right: 10px;
}

fieldset p {
    font-weight: bold;
}

#html {
    margin-top: 30px;
}

#css {
    margin-top: 30px;
}