* {font-family: 'Noto Sans JP', sans-serif;} 

header {
    text-align: center;
}

header h1 {
    background-color: rgb(0, 24, 241);
    padding: 10px 10px;
    color: white;
}

nav {
    text-align: center;
}

main {
    text-align: center;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: rgb(0, 24, 241);
    padding: 5px 5px;
    color: white;
}

a {
    padding: 5px 5px;
}

a:link { color: blue; }
a:visited {color: green;}
a:hover {color: hotpink;
         font-size: 18px;
         font-weight: bold;}
#menu:hover::before {content: ">";}
#menu:hover::after {content: "<";}    
a:active {color: red;
          font-size: 16px;
          font-weight: bold;}  
          
.table_center {
    margin-left: auto;
    margin-right: auto;
}          

table td {
    padding-left: 2px;
    padding-right: 2px;
}

ul {
   display: inline-block;
   text-align: left; 
}

#textoPoema {
    font-style: italic;
}
